@allBg:#F8F8F8; //整体背景色
@todayColor:#409eff; //今天颜色
@notThisMonthColor:#9B9B9B;//不是这个月的日期颜色
@selectedColor: #FFFFFF; //选择的日期的文字颜色
@selectedBg: #5DADFF; //选择日期的背景色
@selectedAreaBg: #B9D9FA; //选择区间的背景色
.all {
  width: 100vw;
  background-color: @allBg;
  .yearMonthDisplay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .leftIcon {
      width: 10vw;
      height: 10vw;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 5px;
      i {
        display: block;
        box-sizing: border-box;
        width: 10px;
        height: 10px;
        border-top: 1px solid black;
        border-left: 1px solid black;
        transform: rotate(-0.125turn);
      }
    }
    .rightIcon {
      width: 10vw;
      height: 10vw;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 5px;
      i {
        display: block;
        box-sizing: border-box;
        width: 10px;
        height: 10px;
        border-top: 1px solid black;
        border-right: 1px solid black;
        transform: rotate(0.125turn);
      }
    }
  }
  .weekDisplay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .weekItem{
      width: 100/7vw;
      margin: 5px 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .daysDisplay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    .dayItem {
      width: 100/7vw;
      margin: 5px 0;
      //background-color: @varf;
      display: flex;
      align-items: center;
      justify-content: center;
      >span {
        text-align: center;
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        line-height: 30px;
      }
      .notThisMonth {
        color: @notThisMonthColor;
      }
      .today {
        color: @todayColor;
      }
      .selected {
        background-color: @selectedBg;
        color: @selectedColor;
      }
    }
    .selectedMiddle {
      background-color: @selectedAreaBg;
    }
    .selectedStart {
      background: linear-gradient(to right, transparent, transparent 50%, @selectedAreaBg 50%);
    }
    .selectedEnd {
      background: linear-gradient(to left, transparent, transparent 50%, @selectedAreaBg 50%);
    }
  }
}